{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="title-index">
    <h1>DISH INFO</h1>
</div>

<table class="table-index">
    <tr><td><strong>name: </strong> {{ dish.name }}</td></tr>
    <tr><td><strong>description: </strong> {{ dish.description }}</td></tr>
    <tr><td><strong>price: </strong> {{ dish.price }}</td></tr>
    <tr><td><strong>type: </strong> {{ dish.type }}</td></tr>
</table>

<div>
    {% if dish in user.dishes.all %}
    <a href="{% url 'toggle-dish-assign' pk=dish.id %}" class="btn btn-danger link-to-page">
    Remove me as the cook
    </a>
    {% else %}
    <a href="{% url 'toggle-dish-assign' pk=dish.id %}" class="btn btn-success link-to-page">
        Appoint me as the cook
    </a>
    {% endif %}
</div>
<div>
    <h4>COOKS:</h4>
    {% for cook in dish.cooks.all %}
    <hr>
    <p> <strong> {{cook.first_name}} {{cook.last_name}}</strong>  </p>
    {% empty %}
    <p>No cooks</p>
    {% endfor %}
</div>
{% endblock %}