{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
<h1 align="center">
    <b>Dish List</b>
</h1>
<form method="get" action="" class="form-inline">
  {{ search_form|crispy }}
    <input class="btn btn-primary" type="submit" value="Search">
</form>
<div class="create-cook-list">
<a href="{% url 'dish-create' %}" style="font-size: 1.3em;" class="btn btn-primary">Add new dish</a>
</div>
{% if dish_list %}
<table class="table-cook-list">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Type</th>
        <th>Ingredients</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    {% for dish in dish_list %}
    <tr>
        <td>{{ dish.id }}</td>
        <td><a href="{{ dish.get_absolute_url }}">{{ dish.name }}</a></td>
        <td>{{ dish.description }}</td>
        <td>{{ dish.price }}</td>
        <td>{{ dish.type.name }}</td>


        <td>
            {% for ingredient in dish.ingredients.all %}
            {{ ingredient.name }}{% if not forloop.last %}, {% endif %} {% empty %}
            <em>No ingredients</em>
            {% endfor %}
        </td>
        <td><a href="{% url 'dish-update' pk=dish.id %}">Update</a></td>
        <td><a href="{% url 'dish-delete' pk=dish.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
      <p class="no-cooks-cook-list">There are no dishes in the service:(</p>
    {% endif %}
{% endblock %}
