{% extends "base.html" %}

{% block content %}
<h1 align="center">
    <b>DishTypes</b>
</h1>
<div class="create-cook-list">
<a href="{% url 'dishtype-create' %}" style="font-size: 1.3em;" class="btn btn-primary">Add new dishtype</a>
</div>
{% if dishtype_list %}
<table class="table-cook-list">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    {% for dishtype in dishtype_list %}
    <tr>
        <td>{{dishtype.id}}</td>
        <td>{{dishtype.name}}</td>
        <td><a href="{% url 'dishtype-update' pk=dishtype.id %}">Update</a></td>
        <td><a href="{% url 'dishtype-delete' pk=dishtype.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p class="no-cooks-cook-list">There are no dishes in the service:(</p>
{% endif %}
{% endblock %}